In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model,metrics

In [5]:
df=pd.read_csv(r"Z:\Ck\ML\csv\decisionTree_Data.csv");
df

     Age  Salary  Purchased
0     19   19000          0
1     35   20000          0
2     26   43000          0
3     27   57000          0
4     19   76000          0
5     27   58000          0
6     27   84000          0
7     32  150000          1
8     25   33000          0
9     35   65000          0
10    26   80000          0
11    26   52000          0
12    20   86000          0
13    32   18000          0
14    18   82000          0
15    29   80000          0
16    47   25000          1
17    45   26000          1
18    46   28000          1
19    48   29000          1
20    45   22000          1
21    47   49000          1
22    48   41000          1
23    45   22000          1
24    46   23000          1
25    47   20000          1
26    49   28000          1
27    47   30000          1
28    29   43000          0
29    31   18000          0
..   ...     ...        ...
370   60   46000          1
371   60   83000          1
372   39   73000          0
373   59  130000          1
374   37   80000          0
375   46   32000          1
376   46   74000          0
377   42   53000          0
378   41   87000          1
379   58   23000          1
380   42   64000          0
381   48   33000          1
382   44  139000          1
383   49   28000          1
384   57   33000          1
385   56   60000          1
386   49   39000          1
387   39   71000          0
388   47   34000          1
389   48   35000          1
390   48   33000          1
391   47   23000          1
392   45   45000          1
393   60   42000          1
394   39   59000          0
395   46   41000          1
396   51   23000          1
397   50   20000          1
398   36   33000          0
399   49   36000          1

[400 rows x 3 columns]

In [6]:
    x=df.iloc[:,[0,1]].values
    y=df.iloc[:,2].values

In [9]:
from sklearn.model_selection import train_test_split
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
st_x=StandardScaler()
x_train=st_x.fit_transform(x_train)
x_test=st_x.transform(x_test)

C:\ProgramData\Anaconda-3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\ProgramData\Anaconda-3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\ProgramData\Anaconda-3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [12]:
from sklearn.tree import DecisionTreeClassifier
classfier=DecisionTreeClassifier(criterion='entropy',random_state=0)
classfier.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [14]:
y_pred=classfier.predict(x_test)

In [15]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

In [17]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[62,  6],
       [ 3, 29]], dtype=int64)

In [18]:
metrics.accuracy_score(y_test,y_pred)

0.91